<!--    AngularJS Applicatio-->
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 ">
            <div class="panel panel-{{myStyle}}">
                <div class="panel-heading">
                    <h4>
                        Third Angular Code!!
                    </h4>
                </div>
                <div class="panel-body">
                    <p>{{inputText}}</p>
                    <a href="#" class="btn btn-{{myStyle}} btn-block">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
